.cardsContainer {
    display: grid;
    width: 50%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr))

}
.containerTitle {
    font-family: var(--primary-font);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    font-size: 4rem;
    height: 300px;
    width: 100%;
    color: var(--third-color);
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
