.buttonCart {
    display: flex;
    margin: 0 auto;
    background-color: var(--button-color);
    width: auto;

}
.buttonCart:hover {
    background-color: var(--button-hover);
}
.text {
    color: var(--third-color);
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0 auto;
    margin-bottom: 40px;
}
@media (min-width: 0px) and (max-width: 768px) {
    .buttonCart {
        margin: 0 auto;
    }
    .text {
        color: var(--third-color);
        font-size: 1.5rem;
        font-weight: bold;
        margin: 0 auto;
    }
}
