.carrouselWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 30px;
}

.carrouselContainerWrapper {
    display: flex;
    align-items: center;
    position: relative;
    width: 60vw;
    margin: 0 auto;
}

.carrouselContainer {
    display: flex;
    gap: 1rem;
    overflow: hidden; 
    width: 100%;
}

.carrouselItem {
    flex: 0 0 auto;
    min-width: 400px;
    max-width: 400px;
    border-radius: 8px;
}

.containerTitle {
    font-family: var(--primary-font);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: var(--third-color);
}

.navButton {
    margin: 0px 1rem 0px 1rem;
    border: none;
    color: var(--text-color);
    font-size: 2rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: transform 0.5s ease;
}

.navButton:hover {
    background-color: var(--secondary-color);
}

.navButton:disabled {
    background-color: var(--disabled-color);
}

.navButton:hover:not(:disabled) {
    transform: scale(1.1);
}

/* Media queries */
@media (min-width: 0px) and (max-width: 768px) {
    .carrouselContainerWrapper {
        flex-direction: column;
    }

    .navButton {
        margin: 0.5rem auto;
        display: block;
    }

    .carrouselContainer {
        width: 100%;
        justify-content: center;
    }

    .carrouselItem {
        min-width: 90%; 
        max-width: 100%;
    }
}

@media (min-width: 769px) and (max-width: 1440px) {
    .carrouselContainerWrapper {
        flex-direction: row;
    }

    .navButton {
        margin: 0.5rem;
        display: block;
    }

    .carrouselContainer {
        width: 90%;
        justify-content: flex-start;
    }

    .carrouselItem {
        min-width: 47%;
        max-width: 47%;

    }
}
