
.navContainer {
    position: relative;
    background-color: var(--bg-navcolor);
    display: grid;
    grid-template-columns: 1fr 1fr;
    box-shadow: 0px 1px 100px 5px var(--shadow-color);
}
.logoContainer {
    font-family: var(--primary-font);
    color: var(--primary-color);
    margin-left: 20px;
    font-size: 2rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem;
}
.navLinksContainer {
    display: none;
    position: absolute;
    font-family: var(--secondary-font);
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 100%;
    background-color: var(--bg-navcolor);
    top: 3.8rem;
    left: 0;
    padding: 1rem 0;
    box-shadow: 0 2px 5px var(--shadow-color);
    z-index: 10;
    gap: 2rem
}
.navLinksContainer.open {
    display: flex;
}

.navLink {
    color: var(--primary-color);
    font-size: 1.2rem;
    transition: 0.5s ease;
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 1));
}

.navLink:hover {
    color: var(--hover-primary);
    transform: translate(0px, -2px);
    border-radius: 100px;
}

.menuButton {
        display: block;
        background: none;
        border: none;
        font-size: 1.5rem;
        cursor: pointer;
        z-index: 20; 
        position: absolute;
        right: 1rem; 
        top: 1rem; 
    }
    .buttonContainer {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    


.menuCheckbox {
    display: none;
}

.menuCheckbox:checked ~ .navLinksContainer {
    display: flex;
}

@media (min-width: 768px) {
    .navLinksContainer {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        width: auto;
        position: static;
        box-shadow: none;
        padding: 0;
        gap: 4rem;
    }

    .menuButton {
        display: none;
    }
    .navLink {
        padding: 10px;
    }
    .navButton {
        margin-bottom: 10px;
    }
    .navButtonOut {
        margin-bottom: 10px;
    }
    .menuButton {
        background: none;
        border: none;
        font-size: 1.5rem;
        cursor: pointer;
    }
}