.containerTitle {
    font-family: var(--primary-font);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    font-size: 4rem;
    height: 300px;
    width: 100%;
    color: var(--third-color);
}