@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&family=Spectral+SC:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root {
  --primary-font: "Newsreader", serif;
  --secondary-font: "Spectral SC", serif;
  --base-font-weight: 200;
  --base-font-style: normal;
  --optical-sizing: auto;
  --text-color: #ffffff;
  --title-color: #B58863;
  --primary-color: #B58863;
  --hover-primary: #c49976;
  --secondary-color: #0f2229;
  --hover-secondary: #1e3a43;
  --hover-card: #0b1418;
  --third-color: #A79E9C;
  --button-color: #1e3a43;
  --button-hover: #295b6d;
  --hover-link: #B58863;
  --background-color: #161616;
  --bg-color-hover: #161718;
  --bg-navcolor: #242323;
  --shadow-color: rgba(0, 0, 0, 1);
  --input-bg: black;
  --input-placeholder-color: var(--third-color);
  --foreground: white;
}

.light {
  --primary-font: "Newsreader", serif;
  --secondary-font: "Spectral SC", serif;
  --text-color: #000000;
  --title-color: #030303;
  --primary-color: #ffffff; 
  --hover-primary: #4ddbff; 
  --secondary-color: #6bcdee; 
  --hover-secondary: #90ebff;
  --hover-card: #e0f9ff;
  --third-color: #030303;
  --button-color: #000000;
  --button-hover: #132c35;
  --hover-link: #61a6b6;
  --background-color: #ffffff;
  --bg-color-hover: #ddf7ff;
  --bg-navcolor: #000000;
  --shadow-color: rgba(255, 255, 255, 1);
  --input-bg: #f9f9f9;
  --input-placeholder-color: #888888; 
  --foreground: #000000; 
}

body {
  margin: 0;
  font-family: var(--primary-font);
  font-style: var(--base-font-style);
  font-weight: var(--base-font-weight);
  background-color: var(--background-color);
  color: var(--foreground);
  transition: background-color 0.3s ease, color 0.3s ease;
}


input {
  font-size: 1.4rem;
  width: 100%;
  background-color: var(--input-bg);
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.3);
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
  color: var(--foreground);
  transition: background-color 0.3s ease, color 0.3s ease;
}
label {
  font-size: 1.3rem;
  margin-top: 10px;
}

input::placeholder {
  color: var(--input-placeholder-color);
}

input:focus {
  outline: none;
}
.swal2-toast {
  top: 8vh !important; 
  right: 0px !important;  
}
.bg-animated-gradient {
  background: linear-gradient(-45deg, 
    var(--background-color),
    var(--hover-link),
    var(--background-color),
    var(--background-color)
  );
  background-size: 400% 400%;
  animation: gradient 20s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideIn {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-fade-in {
  animation: fadeIn 1s ease-in-out;
}

.animate-slide-in {
  animation: slideIn 1s ease-in-out;
}


body {
  margin: 0;
  font-family: var(--primary-font);
  background-color: var(--background-color);
  color: white;
}
