@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&family=Spectral+SC:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
:root {
    --primary-font: "Newsreader", serif;
    --secondary-font: "Spectral SC", serif;
    --base-font-weight: 400;
    --base-font-style: normal;
    --optical-sizing: auto;
    --primary-color: #B58863;
    --hover-primary: #c49976;
    --secondary-color: #10232A;
    --third-color: #A79E9C;
    --background-color: #161616;
  }
input {
  font-size: 1.4rem;
  width: 100%;
  background-color: black;
  box-shadow: 0px 0px 10px 1px rgb(0, 0, 0);
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  margin-top: 5px;
}
input:focus {
  outline: none;
}
input::placeholder {
  color: var(--third-color);
}
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
.bg-animated-gradient {
  background: linear-gradient(-45deg, 
  #161616, 
  #977253, 
  #161616, 
  #161616  
  );
  background-size: 400% 400%;
  animation: gradient 20s ease infinite;
}

/* Animación para el gradiente */
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  25% {
    background-position: 100% 50%;
  }
  50% {
    background-position: 50% 0%;
  }
  75% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


.animated-toast {
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3); /* Sombra sutil para darle profundidad */
    animation: fadeIn 0.3s ease-in-out; /* Animación suave */
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.toast-container {
    margin-top: 20px; /* Espacio superior para que no quede pegado al borde */
}

.toast {
    background-color: var(--background-color);
    color: var(--third-color);
    font-family: 'Arial', sans-serif;
    border-left: 5px solid var(--primary-color); /* Barra de color primario a la izquierda */
}


@keyframes slideIn {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-fade-in {
  animation: fadeIn 1s ease-in-out;
}

.animate-slide-in {
  animation: slideIn 1s ease-in-out;
}

body {
  margin: 0;
  font-family: var(--primary-font);
  background-color: var(--background-color);
  color: white;
}
