
.buttonContainer {
    display: flex;
    margin-bottom: 10px;
}
.navButton {
    display: flex;
    justify-content: center;
    color: var(--text-color);
    margin: 10px 10px 0px 0px;
    text-align: center;
    background-color: var(--primary-color);
    padding: 8px;
    width: 30%;
    margin-left: 50px;
    border-radius: 8px;
    box-shadow: 0px 0px 20px 1px rgb(0, 0, 0);
    transition: 0.5s ease;
}
.navButton:hover {
    background-color: var(--hover-primary);
}
.navButtonOut {
    display: flex;
    justify-content: center;
    color: var(--text-color);
    margin: 10px 10px 0px 0px;
    text-align: center;
    background-color: var(--secondary-color);
    padding: 8px;
    width: 30%;
    margin-left: 50px;
    border-radius: 8px;
    box-shadow: 0px 0px 20px 1px rgb(0, 0, 0);
    transition: 0.3s ease;
}
.navButtonOut:hover {
    background-color: var(--hover-secondary);
}
.themeButton {
    margin: 10px 10px 0px 15px;
    color: var(--primary-color);
    transition: 0.5s ease;
}
.themeButton:hover {
    color: var(--hover-primary);
    transform: translate(0px, -2px);
}
@media (min-width: 768px) {
    .buttonContainer {
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
        width: 30%;
    }


}